EKT_USER=apiuser
EKT_PASSWORD=replace_me
OPENAI_API_KEY=
NVIDIA_API_KEY=
CHEAP_MODEL=
MEDIUM_MODEL=
STRONG_MODEL=
VISION_MODEL=
CHEAP_PROVIDER=
MEDIUM_PROVIDER=
STRONG_PROVIDER=
VISION_PROVIDER=
MODEL_SPEND_LIMIT_USD=25
MAX_MODEL_CALLS=200
CATALOG_PAGES=800
CATALOG_REFRESH_HOURS=12

